# Shared yaml
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
logging:
  level:
    root: info
spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null
