spring:
  application:
    name: discovery-service
server:
  port: 8761
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
  server:
    enable-self-preservation: true
management:
  endpoints:
    web:
      exposure:
        include: health, info